/**
** Custom Styles
**/

.inner-960 {
	width: 960px;
	margin: 0 auto;
}
body {
	padding-top: 60px;
}
/*******************************/
/*       LOGIN                 */
/*******************************/

.row.login {
  width: 30%;
  margin: 30px auto;
}
.row.striped {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
	position: relative;
}
@media (max-width: 767px) .login {
    width: 70%;
}
.actions {
	float: right;
	margin-bottom: 20px;
}
.actions .caret {
	display:inline-block;
	width:0;
	height:0;
	vertical-align:top;
	border-top:4px solid #000;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	content:""
}
.row.striped > div {
	float: left;
}
.row.striped .inner-actions {
	position: absolute;
	top: 50%;
	right: 0;
}
.flashMessage, .message {
	padding:8px 35px 8px 14px;
	margin-bottom:20px;
	background-color:#fbe9d9;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	color:#e67e22;
	font-size:16px}
}
/** Requests Styles **/
.btn.btn-info.view {
	float: right;
}